<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <system.web>
    <!-- 5 min timeout http://msdn.microsoft.com/en-us/library/vstudio/e1f13641(v=vs.100).aspx -->
    <httpRuntime executionTimeout="300"/>
    
    <!-- both GET and POST verbs to support URL parameter query -->
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    
    <!-- error detail -->
    <customErrors mode="RemoteOnly"/>

    <!-- AJAX Extensions for JSON method output -->
    <compilation>
      <assemblies>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory" validate="false"/>
    </httpHandlers>
  </system.web>
</configuration>
